################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/2023/Day1/.vs/Day1
/2023/Day1/x64/Debug
/2023/Input_fetcher/bin/Debug/net8.0
/2023/Input_fetcher/obj
2023/DataFetch/.vs/DataFetch/FileContentIndex/deead618-ac60-4f37-8947-bb3f5352b639.vsidx
2023/DataFetch/.vs/DataFetch/FileContentIndex/ffe94428-7650-4543-956c-e663033f20d0.vsidx
2023/DataFetch/.vs/DataFetch/v17/.suo
2023/DataFetch/.vs/DataFetch/v17/Browse.VC.db
2023/DataFetch/.vs/DataFetch/v17/Solution.VC.db
2023/DataFetch/.vs/DataFetch/v17/ipch/AutoPCH/634964a9cb983095/NEW_SCALAR.ipch
2023/DataFetch/.vs/DataFetch/v17/ipch/AutoPCH/66addded48a7701b/DATAFETCH.ipch
2023/DataFetch/.vs/DataFetch/v17/ipch/AutoPCH/c636924dce53000e/EXE_COMMON.ipch
2023/DataFetch/x64/Debug/DataFetch.exe
2023/DataFetch/x64/Debug/DataFetch.exe.recipe
2023/DataFetch/x64/Debug/DataFetch.ilk
2023/DataFetch/x64/Debug/DataFetch.log
2023/DataFetch/x64/Debug/DataFetch.obj
2023/DataFetch/x64/Debug/DataFetch.pdb
2023/DataFetch/x64/Debug/DataFetch.vcxproj.FileListAbsolute.txt
2023/DataFetch/x64/Debug/vc143.idb
2023/DataFetch/x64/Debug/vc143.pdb
2023/DataFetch/x64/Debug/DataFetch.tlog/CL.command.1.tlog
2023/DataFetch/x64/Debug/DataFetch.tlog/Cl.items.tlog
2023/DataFetch/x64/Debug/DataFetch.tlog/CL.read.1.tlog
2023/DataFetch/x64/Debug/DataFetch.tlog/CL.write.1.tlog
2023/DataFetch/x64/Debug/DataFetch.tlog/DataFetch.lastbuildstate
2023/DataFetch/x64/Debug/DataFetch.tlog/link.command.1.tlog
2023/DataFetch/x64/Debug/DataFetch.tlog/link.read.1.tlog
2023/DataFetch/x64/Debug/DataFetch.tlog/link.write.1.tlog
2023/Input_fetcher/.vs/Input_fetcher/DesignTimeBuild/.dtbcache.v2
2023/Input_fetcher/.vs/Input_fetcher/FileContentIndex/a54c0ecc-2919-435f-bf63-9f06739d1e0e.vsidx
2023/Input_fetcher/.vs/Input_fetcher/v17/.futdcache.v2
2023/Input_fetcher/.vs/Input_fetcher/v17/.suo
/2023/Day1/.vs/AOC/v17
/2023/Day1/.vs
/2023/AOC/x64/Debug
/2023/AOC/.vs
